<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/Js/JS.js"></script>
</head>
<body>
    <p id="addOk" style="text-align:center; color:green;"></p>
    <p id="addError" style="text-align:center; color:red;"></p>
    <form action="/Home/Addition" method="post">
        <input type="text" name="Question" placeholder="კითხვა" onkeypress="return ValidateKey()" />
        <input type="text" name="Answer" placeholder="პასუხი" onkeypress="return ValidateKey()" />
        <button type="submit" id="addQA">დამატება</button>
    </form>
    <hr />
    <a href="/Home/SeeQuestions"> <input type="button" value="კითხვა-პასუხის შეცვლა ან წაშლა" /></a>
    <hr/>
    <a href="/Home/Index"> <input type="button" value="საწყის გვერდზე დაბრუნება" /></a>

    <script>
        function ValidateKey() {
            var key = window.event.keyCode;
            var allowed = 'აბგდევზთიკლმნოპჟრსტუფქღყშჩცძწჭხჯჰ :;,.?!()';

            return allowed.indexOf(String.fromCharCode(key)) != -1;
        }
    </script>
</body>

</html>